[flake8]

; black -l 78 .
; flake8 .

exclude=
    .git,
    .gitignore,
    .gitattributes,
    docker-compose.yml,
    Dockerfile,
    LICENSE,
    noktes.txt,
    README.md,
    requirements.txt,
    venv,
    env,
    __pycache__,
    .env,
    extra_files,
    settings.py,
    __init__.py,

ignore=
    E501,
    F401,
    E402